{% if el7_distros is defined and el7_packer_builds is defined %}
{% for distro in el7_distros %}
{% for build in el7_packer_builds %}
source "qemu" "{{ distro.prettyname }}_{{ build.name }}" {
  accelerator      = "kvm"
  cd_files         = ["../.ks/EL7_{{ build.name }}_{{ ks_version }}/ks.cfg"]
  cd_label         = "OEMDRV"
  cpus             = 2
  disk_interface   = "virtio-scsi"
  disk_size        = "{{ packer_disk_gb * 1024 | default('65536') }}M"
  format           = "qcow2"
  headless         = false
  iso_checksum     = "sha256:{{ distro.iso_sha256 }}"
  // This path is equivalent to having the RHEL ISO in the dir above the root dir of this project
  iso_url          = "file:./../../../../{{ distro.iso_filename }}"
  memory           = 4096
  output_directory = "VM_{{ distro.prettyname }}_{{ build.name }}_{{ ks_version }}"
  vm_name          = "{{ distro.prettyname }}_{{ build.name }}_{{ ks_version }}.qcow2"

  // Use a virtio-net (default) adapter for networking
  net_device = "virtio-net"

  // Use EFI with QEMU (this requires the edk2-ovmf package installed)
  firmware = "/usr/share/edk2/ovmf/OVMF_CODE.fd"

  {% if build.postinstall | default(false) %}
  // Connect via SSH because the vmware-iso provisioner doesn't seem capable of using the "none" communicator
  communicator            = "ssh"
  pause_before_connecting = "1m"
  shutdown_command        = "sleep 60 && echo '{{ packer_user_password }}' | sudo -S systemctl poweroff &>/dev/null 2>/dev/null"
  shutdown_timeout        = "10m"
  ssh_password            = "{{ packer_user_password }}"
  ssh_timeout             = "30m"
  ssh_username            = "{{ packer_user }}"
  {% else %}
  // Don't attempt to connect to the host after installation as we configured it with "poweroff = true"
  communicator     = "none"
  shutdown_command = " "
  shutdown_timeout = "30m"
  {% endif %}

}
{% endfor %}
{% endfor %}

{% for distro in el7_distros %}
{% for build in el7_packer_builds %}
build {
  sources = [
    "source.qemu.{{ distro.prettyname }}_{{ build.name }}",
  ]

  {% if build.postinstall | default(false) %}
  provisioner "ansible" {
    extra_arguments = [ "-e ansible_become_pass={{ packer_user_password }}" ]
    playbook_file = "../../ansible/{{ build.custom_ansible_playbook | default("example_postinstall") }}/playbook.yml"
  }
  {% endif %}

}
{% endfor %}
{% endfor %}

{% endif %}

{% if el8_distros is defined and el8_packer_builds is defined %}
{% for distro in el8_distros %}
{% for build in el8_packer_builds %}
source "qemu" "{{ distro.prettyname }}_{{ build.name }}" {
  accelerator      = "kvm"
  cd_files         = ["../.ks/EL8_{{ build.name }}_{{ ks_version }}/ks.cfg"]
  cd_label         = "OEMDRV"
  cpus             = 2
  disk_interface   = "virtio-scsi"
  disk_size        = "{{ packer_disk_gb * 1024 | default('65536') }}M"
  format           = "qcow2"
  headless         = false
  iso_checksum     = "sha256:{{ distro.iso_sha256 }}"
  // This path is equivalent to having the RHEL ISO in the dir above the root dir of this project
  iso_url          = "file:./../../../../{{ distro.iso_filename }}"
  memory           = 4096
  output_directory = "VM_{{ distro.prettyname }}_{{ build.name }}_{{ ks_version }}"
  vm_name          = "{{ distro.prettyname }}_{{ build.name }}_{{ ks_version }}.qcow2"

  // Use a virtio-net (default) adapter for networking
  net_device = "virtio-net"

  // Use EFI with QEMU (this requires the edk2-ovmf package installed)
  firmware = "/usr/share/edk2/ovmf/OVMF_CODE.fd"

  {% if build.postinstall | default(false) %}
  // Connect via SSH because the vmware-iso provisioner doesn't seem capable of using the "none" communicator
  communicator            = "ssh"
  pause_before_connecting = "1m"
  shutdown_command        = "sleep 60 && echo '{{ packer_user_password }}' | sudo -S systemctl poweroff &>/dev/null 2>/dev/null"
  shutdown_timeout        = "10m"
  ssh_password            = "{{ packer_user_password }}"
  ssh_timeout             = "30m"
  ssh_username            = "{{ packer_user }}"
  {% else %}
  // Don't attempt to connect to the host after installation as we configured it with "poweroff = true"
  communicator     = "none"
  shutdown_command = " "
  shutdown_timeout = "30m"
  {% endif %}
}

{% endfor %}
{% endfor %}

{% for distro in el8_distros %}
{% for build in el8_packer_builds %}
build {
  sources = [
    "source.qemu.{{ distro.prettyname }}_{{ build.name }}",
  ]

  {% if build.postinstall | default(false) %}
  provisioner "ansible" {
    extra_arguments = [ "-e ansible_become_pass={{ packer_user_password }}" ]
    playbook_file = "../../ansible/{{ build.custom_ansible_playbook | default("example_postinstall") }}/playbook.yml"
  }
  {% endif %}

}
{% endfor %}
{% endfor %}

{% endif %}

{% if el9_distros is defined and el9_packer_builds is defined %}
{% for distro in el9_distros %}
{% for build in el9_packer_builds %}
source "qemu" "{{ distro.prettyname }}_{{ build.name }}" {
  accelerator      = "kvm"
  cd_files         = ["../.ks/EL9_{{ build.name }}_{{ ks_version }}/ks.cfg"]
  cd_label         = "OEMDRV"
  cpus             = 2
  # For RHEL 9 builds, we need at least x86_64-v2 instructions available to us
  # so we can't use the default KVM CPU type. Here we just use "host" to pass
  # through the host CPU type to the VM:
  cpu_model        = "host"
  disk_interface   = "virtio-scsi"
  disk_size        = "{{ packer_disk_gb * 1024 | default('65536') }}M"
  format           = "qcow2"
  headless         = false
  iso_checksum     = "sha256:{{ distro.iso_sha256 }}"
  // This path is equivalent to having the RHEL ISO in the dir above the root dir of this project
  iso_url          = "file:./../../../../{{ distro.iso_filename }}"
  memory           = 4096
  output_directory = "VM_{{ distro.prettyname }}_{{ build.name }}_{{ ks_version }}"
  vm_name          = "{{ distro.prettyname }}_{{ build.name }}_{{ ks_version }}.qcow2"

  // Use a virtio-net (default) adapter for networking
  net_device = "virtio-net"

  // Use EFI with QEMU (this requires the edk2-ovmf package installed)
  firmware = "/usr/share/edk2/ovmf/OVMF_CODE.fd"

  {% if build.postinstall | default(false) %}
  // Connect via SSH because the vmware-iso provisioner doesn't seem capable of using the "none" communicator
  communicator            = "ssh"
  pause_before_connecting = "1m"
  shutdown_command        = "sleep 60 && echo '{{ packer_user_password }}' | sudo -S systemctl poweroff &>/dev/null 2>/dev/null"
  shutdown_timeout        = "10m"
  ssh_password            = "{{ packer_user_password }}"
  ssh_timeout             = "30m"
  ssh_username            = "{{ packer_user }}"
  {% else %}
  // Don't attempt to connect to the host after installation as we configured it with "poweroff = true"
  communicator     = "none"
  shutdown_command = " "
  shutdown_timeout = "30m"
  {% endif %}

}
{% endfor %}
{% endfor %}

{% for distro in el9_distros %}
{% for build in el9_packer_builds %}
build {
  sources = [
    "source.qemu.{{ distro.prettyname }}_{{ build.name }}",
  ]

  {% if build.postinstall | default(false) %}
  provisioner "ansible" {
    extra_arguments = [ "-e ansible_become_pass={{ packer_user_password }}" ]
    playbook_file = "../../ansible/{{ build.custom_ansible_playbook | default("example_postinstall") }}/playbook.yml"
  }
  {% endif %}

}
{% endfor %}
{% endfor %}

{% endif %}
