{% if el7_distros is defined and el7_packer_builds is defined %}
{% for distro in el7_distros %}
{% for build in el7_packer_builds %}
source "vmware-iso" "{{ distro.prettyname }}_{{ build.name }}" {
  cd_files             = ["../.ks/EL7_{{ build.name }}_{{ ks_version }}/ks.cfg"]
  cd_label             = "OEMDRV"
  cpus                 = 2
  disk_adapter_type    = "scsi"
  disk_size            = "{{ packer_disk_gb * 1024 | default('65536') }}"
  format               = "ova"
  guest_os_type        = "rhel7-64"
  iso_checksum         = "sha256:{{ distro.iso_sha256 }}"
  // This path is equivalent to having the RHEL ISO in the dir above the root dir of this project
  iso_url              = "file:./../../../../{{ distro.iso_filename }}"
  memory               = 4096
  network_adapter_type = "vmxnet3"
  output_directory     = "VM_{{ distro.prettyname }}_{{ build.name }}_{{ ks_version }}"
  version              = "{{ vmware_vhw_ver }}"
  vm_name              = "{{ distro.prettyname }}_{{ build.name }}_{{ ks_version }}"
  vmx_data = {
    "firmware"                = "efi"
    "uefi.secureBoot.enabled" = "TRUE"
  }

  // Clean up the VMX file we're going to export as it will be
  // included in our OVA/OVF.
  vmx_data_post = {
    "ide0:0.clientDevice"   = "TRUE"
    "ide0:0.deviceType"     = "cdrom-raw"
    "ide0:0.fileName"       = "emptyBackingString"
    "ide0:0.present"        = "FALSE"
    "ide0:0.startConnected" = "FALSE"
    "ide1:0.clientDevice"   = "TRUE"
    "ide1:0.deviceType"     = "cdrom-raw"
    "ide1:0.fileName"       = "emptyBackingString"
    "ide1:0.present"        = "FALSE"
    "ide1:0.startConnected" = "FALSE"
  }

  // We don't need VNC as we haven't set a boot_command
  disable_vnc = true

  {% if build.postinstall | default(false) %}
  // Connect via SSH because the vmware-iso provisioner doesn't seem capable of using the "none" communicator
  communicator            = "ssh"
  pause_before_connecting = "1m"
  shutdown_command        = "sleep 60 && echo '{{ packer_user_password }}' | sudo -S systemctl poweroff &>/dev/null 2>/dev/null"
  shutdown_timeout        = "10m"
  ssh_password            = "{{ packer_user_password }}"
  ssh_timeout             = "30m"
  ssh_username            = "{{ packer_user }}"
  {% else %}
  // Don't attempt to connect to the host after installation as we configured it with "poweroff = true"
  communicator     = "none"
  shutdown_command = " "
  shutdown_timeout = "30m"
  {% endif %}

}
{% endfor %}
{% endfor %}

{% for distro in el7_distros %}
{% for build in el7_packer_builds %}
build {
  sources = [
    "source.vmware-iso.{{ distro.prettyname }}_{{ build.name }}",
  ]

  {% if build.postinstall | default(false) %}
  provisioner "ansible" {
    extra_arguments = [ "-e ansible_become_pass={{ packer_user_password }}" ]
    playbook_file = "../../ansible/{{ build.custom_ansible_playbook | default("example_postinstall") }}/playbook.yml"
  }
  {% endif %}

}
{% endfor %}
{% endfor %}

{% endif %}

{% if el8_distros is defined and el8_packer_builds is defined %}
{% for distro in el8_distros %}
{% for build in el8_packer_builds %}
source "vmware-iso" "{{ distro.prettyname }}_{{ build.name }}" {
  cd_files             = ["../.ks/EL8_{{ build.name }}_{{ ks_version }}/ks.cfg"]
  cd_label             = "OEMDRV"
  cpus                 = 2
  disk_adapter_type    = "scsi"
  disk_size            = "{{ packer_disk_gb * 1024 | default('65536') }}"
  format               = "ova"
  guest_os_type        = "rhel7-64"
  iso_checksum         = "sha256:{{ distro.iso_sha256 }}"
  // This path is equivalent to having the RHEL ISO in the dir above the root dir of this project
  iso_url              = "file:./../../../../{{ distro.iso_filename }}"
  memory               = 4096
  network_adapter_type = "vmxnet3"
  output_directory     = "VM_{{ distro.prettyname }}_{{ build.name }}_{{ ks_version }}"
  version              = "{{ vmware_vhw_ver }}"
  vm_name              = "{{ distro.prettyname }}_{{ build.name }}_{{ ks_version }}"
  vmx_data = {
    "firmware"                = "efi"
    "uefi.secureBoot.enabled" = "TRUE"
  }

  // Clean up the VMX file we're going to export as it will be
  // included in our OVA/OVF.
  vmx_data_post = {
    "ide0:0.clientDevice"   = "TRUE"
    "ide0:0.deviceType"     = "cdrom-raw"
    "ide0:0.fileName"       = "emptyBackingString"
    "ide0:0.present"        = "FALSE"
    "ide0:0.startConnected" = "FALSE"
    "ide1:0.clientDevice"   = "TRUE"
    "ide1:0.deviceType"     = "cdrom-raw"
    "ide1:0.fileName"       = "emptyBackingString"
    "ide1:0.present"        = "FALSE"
    "ide1:0.startConnected" = "FALSE"
  }

  // We don't need VNC as we haven't set a boot_command
  disable_vnc = true

  {% if build.postinstall | default(false) %}
  // Connect via SSH because the vmware-iso provisioner doesn't seem capable of using the "none" communicator
  communicator            = "ssh"
  pause_before_connecting = "1m"
  shutdown_command        = "sleep 60 && echo '{{ packer_user_password }}' | sudo -S systemctl poweroff &>/dev/null 2>/dev/null"
  shutdown_timeout        = "10m"
  ssh_password            = "{{ packer_user_password }}"
  ssh_timeout             = "30m"
  ssh_username            = "{{ packer_user }}"
  {% else %}
  // Don't attempt to connect to the host after installation as we configured it with "poweroff = true"
  communicator     = "none"
  shutdown_command = " "
  shutdown_timeout = "30m"
  {% endif %}

}
{% endfor %}
{% endfor %}

{% for distro in el8_distros %}
{% for build in el8_packer_builds %}
build {
  sources = [
    "source.vmware-iso.{{ distro.prettyname }}_{{ build.name }}",
  ]

  {% if build.postinstall | default(false) %}
  provisioner "ansible" {
    extra_arguments = [ "-e ansible_become_pass={{ packer_user_password }}" ]
    playbook_file = "../../ansible/{{ build.custom_ansible_playbook | default("example_postinstall") }}/playbook.yml"
  }
  {% endif %}

}
{% endfor %}
{% endfor %}

{% endif %}

{% if el9_distros is defined and el9_packer_builds is defined %}
{% for distro in el9_distros %}
{% for build in el9_packer_builds %}
source "vmware-iso" "{{ distro.prettyname }}_{{ build.name }}" {
  cd_files             = ["../.ks/EL9_{{ build.name }}_{{ ks_version }}/ks.cfg"]
  cd_label             = "OEMDRV"
  cpus                 = 2
  disk_adapter_type    = "scsi"
  disk_size            = "{{ packer_disk_gb * 1024 | default('65536') }}"
  format               = "ova"
  guest_os_type        = "rhel7-64"
  iso_checksum         = "sha256:{{ distro.iso_sha256 }}"
  // This path is equivalent to having the RHEL ISO in the dir above the root dir of this project
  iso_url              = "file:./../../../../{{ distro.iso_filename }}"
  memory               = 4096
  network_adapter_type = "vmxnet3"
  output_directory     = "VM_{{ distro.prettyname }}_{{ build.name }}_{{ ks_version }}"
  version              = "{{ vmware_vhw_ver }}"
  vm_name              = "{{ distro.prettyname }}_{{ build.name }}_{{ ks_version }}"
  vmx_data = {
    "firmware"                = "efi"
    "uefi.secureBoot.enabled" = "TRUE"
  }

  // Clean up the VMX file we're going to export as it will be
  // included in our OVA/OVF.
  vmx_data_post = {
    "ide0:0.clientDevice"   = "TRUE"
    "ide0:0.deviceType"     = "cdrom-raw"
    "ide0:0.fileName"       = "emptyBackingString"
    "ide0:0.present"        = "FALSE"
    "ide0:0.startConnected" = "FALSE"
    "ide1:0.clientDevice"   = "TRUE"
    "ide1:0.deviceType"     = "cdrom-raw"
    "ide1:0.fileName"       = "emptyBackingString"
    "ide1:0.present"        = "FALSE"
    "ide1:0.startConnected" = "FALSE"
  }

  // We don't need VNC as we haven't set a boot_command
  disable_vnc = true

  {% if build.postinstall | default(false) %}
  // Connect via SSH because the vmware-iso provisioner doesn't seem capable of using the "none" communicator
  communicator            = "ssh"
  pause_before_connecting = "1m"
  shutdown_command        = "sleep 60 && echo '{{ packer_user_password }}' | sudo -S systemctl poweroff &>/dev/null 2>/dev/null"
  shutdown_timeout        = "10m"
  ssh_password            = "{{ packer_user_password }}"
  ssh_timeout             = "30m"
  ssh_username            = "{{ packer_user }}"
  {% else %}
  // Don't attempt to connect to the host after installation as we configured it with "poweroff = true"
  communicator     = "none"
  shutdown_command = " "
  shutdown_timeout = "30m"
  {% endif %}

}
{% endfor %}
{% endfor %}

{% for distro in el9_distros %}
{% for build in el9_packer_builds %}
build {
  sources = [
    "source.vmware-iso.{{ distro.prettyname }}_{{ build.name }}",
  ]

  {% if build.postinstall | default(false) %}
  provisioner "ansible" {
    extra_arguments = [ "-e ansible_become_pass={{ packer_user_password }}" ]
    playbook_file = "../../ansible/{{ build.custom_ansible_playbook | default("example_postinstall") }}/playbook.yml"
  }
  {% endif %}

}
{% endfor %}
{% endfor %}

{% endif %}
