set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l '{{ repack_iso_label }}'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Install {{ grub_distro_name }} version {{ ks_version }}' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL={{ repack_iso_label }} quiet inst.ks=cdrom:/ks.cfg
	initrdefi /images/pxeboot/initrd.img
}
menuentry 'Test this media & install {{ grub_distro_name }} version {{ ks_version }}' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL={{ repack_iso_label }} rd.live.check quiet inst.ks=cdrom:/ks.cfg
	initrdefi /images/pxeboot/initrd.img
}
submenu 'Troubleshooting -->' {
	menuentry 'Rescue a Red Hat Enterprise Linux system' --class fedora --class gnu-linux --class gnu --class os {
		linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL={{ repack_iso_label }} rescue quiet
		initrdefi /images/pxeboot/initrd.img
	}
}
