[zfs]
name=OpenZFS for EL8 - dkms
baseurl=http://download.zfsonlinux.org/epel/{{ openzfs_point_release }}/x86_64/
enabled=0
metadata_expire=7d
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux

[zfs-kmod]
name=OpenZFS for EL8 - kmod
baseurl=http://download.zfsonlinux.org/epel/{{ openzfs_point_release }}/kmod/x86_64/
enabled=1
metadata_expire=7d
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-zfsonlinux